@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Geo:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne+Mono&family=VT323&display=swap');:root {
  --highlight: #C8CECE;
  --midtone1: #516D82;
  --midtone1_1: #63849e;
  --midtone2: #51827F;
  --midtone3: #3d625f;
  --shadow: #273A49;
  --border: #1B2125;
  --red: #e5424d; 
  --red2: #922a31; 
}

p {
  margin: 0px;
  padding: 0px;
}

body {
      background-image: url("./imgs/patterndither.png");
      background-repeat: no-repeat; 
      background-size: cover; 
      background-position: left;
      font-family: 'VT323', monospace;
      image-rendering: crisp-edges;
      -webkit-font-smoothing: none;
      -moz-osx-font-smoothing: grayscale;
      align-items: center;
      justify-content: center;
      height: 100vh;
      font-size: 20px;
      color: white;
    }


    .desktop-icon-grid {
      display: inline-grid;
      gap: 20px;
      padding: 20px;
    }

    .desktop-icon-container {
      display: grid;
      padding-bottom: 10px;
      border-style: solid;
      border-width: 2px;
      border-color: rgba(255, 255, 255, 0);
      width: 150px;
      height: 150px;
    }


    .desktop-icon-container:hover {

      background-color: rgba(61, 73, 247, 0.2);
      border-color: rgba(255, 255, 255, 0.4);
      cursor: pointer;
      transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
      
    
    }

    .desktop-icon-container:active {

      background-color: rgba(61, 73, 247, 0.4);
      border-color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
    
    }

      .thumbnail-row {
      text-align: center;

    }

    .folder-thumbnail {
      display: inline-block;
      width: 100px;
      user-select: none;
    }


    .desktop-icon-label {
      text-align: center;
      color: white;
      font-weight: bold;
      user-select: none;
      padding-bottom: 10px;

    }

    .taskbar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      align-items: center;
      padding: 0 10px;
      box-sizing: border-box;
    }

    .start-icon {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      user-select: none;

    }

    .taskbar-time {
      margin-left: auto;
      color: white;
      user-select: none;

    }

    .window-container {
      position: absolute;
      left: 350px;
      top: 100px;
      width: fit-content;
      height: fit-content;
      background-color: rgba(81, 109, 130, 0.95);
      border: 2px solid var(--border);
      box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
      grid-template-columns: auto;
      visibility: hidden;
      align-items: center;
      justify-content: center;
    }
    .window-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2rem;
      background-color: #333;
      color: white;
      background-color: var(--shadow);
      cursor: move;
      user-select: none;
      display: flex;
      justify-content: ce;
      align-items: center;
      border-bottom: #1B2125 solid 2px;
    }
    .window-icon-container {
      height: fit-content;
      width: 30px;
      padding: 5px;
      padding-top: 10px;
    }
    .window-icon {
      width: 100%;
      height: auto;
      user-select: none;
    }

    .window-title-text {
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        user-select: none;
      }

      .button-container {
        position: absolute;
        right: 0;
        padding-right: 10px;
        
      }


    button {
      padding: 0;
      margin: 0 1px;
      width: 16px;
      height: 16px;
      background-color: var(--highlight);
      border: 1px solid black;
      border-radius: 2px;
      float: right;
      cursor: pointer;
      user-select: none;
      text-align: center;
    }

    button:hover {
      background-color: var(--midtone2);
    }

    button:active {
      background-color: var(--midtone3);
    }

    button.close-button:hover {
      background-color: var(--red);
    }

    button.close-button:active {
      background-color: var(--red2);
    }

    .window-img {
      width: 50%;
      height: auto;
    }

.window-body-container {
  display: grid;
  margin: 10px;
}

.window-subheading {
  margin-top: 1.75rem;
  text-align: center;
  padding-bottom: 0.2rem;
  border-bottom: 4px solid var(--border);
  font-weight: bold;
  color: white;
  user-select: none;
}

p.window-subheading-text {
  margin: 0px;
  padding: 10px;

}

    
.body-content {
  background-color: var(--midtone1_1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px;}



.input-row-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.input-row {
  display: grid;
  grid-template-columns: 100px auto;
  padding-top: 15px;
}
.input-box {
  margin-left: 5px;
  border-style: solid;
  border-width: 2px 4px 4px 2px;
  border-color: var(--border);
  border-radius: 3px;
}

.input-label {
  color: white;
  padding-right: 5px;
  margin: 0px;
  user-select: none;
  border-style: solid;
  border-width: 0px 2px 0px 0px;
}

.radio-row {
  padding-top: 10px;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-option-label {
  color: white;
  user-select: none;
  margin: 0px;
}

.radio-option-tag {
  color: white;
  user-select: none;
  border-style: solid;
  border-width: 0px 2px 0px 0px;
  width: 80px;
  margin: 0px;


}

.radio-option-group {
  color: white;
}

.radio-option-button {
  appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  box-shadow: inset 0 0 0 4px var(--border);
  border-radius: 50%;
}

.radio-option-button:hover {
  appearance: none;
  cursor: pointer;
  }

.radio-option-button:checked {
  appearance: none;
  background-color: var(--midtone2);
  box-shadow: inset 0 0 0 2px var(--border);
  transition: .2s ease-in-out;

}

.bottom-row-container {
  background-color: var(--midtone1);
  display: flex;
  align-items: center;  
  width: 300px;
  margin-top: 10px;
  justify-content: space-between;
}

.submit-button-container {
  width: fit-content;
  padding: 10px;
}

.og-check-label {
  color: white;
  user-select: none;
  margin: 0px;
}

.og-check-container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.calculate-button-container {
  width: fit-content;
  padding: 10px;
  margin: 10px;
}

.calculate-button {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  width: fit-content;
  padding: 10px;
  border-style: solid;
  border-width: 2px 4px 4px 2px;
  border-color: var(--border);
  border-radius: 3px;
  background-color: var(--midtone1);
}

.calculate-button:active {
  cursor: pointer;
  border-width: 3px 2px 2px 3px;
}

.graph-content-container {
    margin: 1rem;
  padding: 1rem;
  width: 400px;
  height: 200px;
  background-color: var(--midtone1_1);
  margin-bottom: 10px;
}

.stat-content-container {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid var(--border);
  width: 400px;
  height: 200px;
  background-color: var(--midtone1);
  user-select: none;

}

.bonus-label {
  width: 50%;
}

.odds-list {
  width: 50%;
}
